---
layout: default
---



<section>
    <!-- <h2>neverendingdrive playlists on spotify</h2> -->

    <!-- neverendingdrive -->
    {% include playwidget.html title="neverendingdrive" count="165" 
        url="https://open.spotify.com/playlist/4XbmqVszWGlWoZxIuSQgop"
        uri="sahwgcmqhln0ycjchsu8u8qu0/playlist/4XbmqVszWGlWoZxIuSQgop" %}

    <!-- neverendingdrive: acceptance -->
    {% include playwidget.html title="neverendingdrive: acceptance" count="32"
        url="https://open.spotify.com/playlist/3VJGG1Spn1iWSWAPIncKYI"
        uri="sahwgcmqhln0ycjchsu8u8qu0/playlist/3VJGG1Spn1iWSWAPIncKYI" %}

    <!-- neverendingdrive: forgetness -->
    {% include playwidget.html title="neverendingdrive: forgetness" count="7"
        url="https://open.spotify.com/playlist/2pKpecnb4nQX9NAEQTluT9"
        uri="sahwgcmqhln0ycjchsu8u8qu0/playlist/2pKpecnb4nQX9NAEQTluT9" %}

    <!-- neverendingdrive: healing -->
    {% include playwidget.html title="neverendingdrive: healing" 
        url="https://open.spotify.com/playlist/26yrPVCWXyBQTF11Jc1Tir" count="3"
        uri="sahwgcmqhln0ycjchsu8u8qu0/playlist/26yrPVCWXyBQTF11Jc1Tir" %}

    <!-- neverendingdrive: elevating -->
    {% include playwidget.html title="neverendingdrive: elevating" count="2"
        url="https://open.spotify.com/playlist/6gZGxldKzBujcST2AxcXES"
        uri="sahwgcmqhln0ycjchsu8u8qu0/playlist/6gZGxldKzBujcST2AxcXES" %}

    <!-- neverendingdrive: speed -->
    {% include playwidget.html title="neverendingdrive: speed" count="6"
        url="https://open.spotify.com/playlist/3q4sGpUfCZCZovmAVGReSg"
        uri="sahwgcmqhln0ycjchsu8u8qu0/playlist/3q4sGpUfCZCZovmAVGReSg" %}

</section>